[Unit]
Description=Hitch reverse Proxy TLS
After=network.target
Documentation=https://github.com/varnish/hitch/wiki

[Service]
Type={{ 'forking' if daemonize == 'true' else 'simple' }}
LimitNOFILE=131072
Restart=on-failure

EnvironmentFile=-/etc/hitch/hitch.params
EnvironmentFile=-/etc/default/hitch
EnvironmentFile=-/etc/sysconfig/hitch
Environment="HITCH_OPTIONS=--config /etc/hitch/hitch.conf"

ExecStartPre={{ install_dir }}/sbin/hitch -t $HITCH_OPTIONS
ExecStart={{ install_dir }}/sbin/hitch --daemon $HITCH_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

UMask=007
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-{{ dir }}
{% if logfile != '""' %}
ReadWriteDirectories=-{{ logfile|dirname }}
{% endif %}
ReadWriteDirectories=-{{ pidfile|dirname }}
CapabilityBoundingSet=~CAP_SYS_PTRACE

# Hitch user can writes its own config file
# writing there (NB. ProtectSystem=true over ProtectSystem=full)
ProtectSystem=true
ReadWriteDirectories=-/etc/hitch

[Install]
WantedBy=multi-user.target
